.app {
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.madeBy {
    opacity: .5;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-weight: 300;
    transition: .3s all;
    a { 
        text-decoration: none;
        font-weight: 600;
    }
    &:hover {
        opacity: 1;
    }
}

